@import "../../style/variables";

.menu {
  //position: absolute;
  //top: -22px;
  //right: 210px;
  //cursor: pointer;
  //z-index: 4;
  margin-right: 50px;
  margin-top: 5px;
  &__list {
    display: flex;
    list-style: none;
  }
  &__link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    a {
      text-decoration: none;
      color: $light;
      transition: all 0.4s;
      letter-spacing: 1px;
      &:hover {
        color: $main-color;
      }
      &.active {
        color: $main-color;
      }
    }
  }
}